.posts {
	list-style: none;
	width: 100%;
    max-width: 65%;
	margin-right: 2%;
	padding: 1rem 0;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 30%);
  }

  .main {
	display: flex;
	margin: 0 10%;
  }